body {
    font-family: Arial, sans-serif;
    /* background-color: #fff; */
    background:linear-gradient(to right , #0f2027,#203a43 ,#2c5364);
}
.container {
    max-width: 400px;
    margin: 15px auto;
    padding: 20px;
    background-color: #c0bbbb;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}

#container{
    max-width: 400px;
    margin: 35px auto;
    margin-left:250px;
    padding: 20px;
    background-color: #c0bbbb;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}
.error{
    color: red;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/* */
.inputs , .batch {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #b5b2b2;
    border-radius: 5px;
    box-sizing: border-box;
}
.radio {
    display: flex;
    gap: 10px;
}
button{

}
.batch{

}
input[type="radio"]{
    padding: 5px;
}
.submit{
    width: calc(40%);
    background-color: rgb(5, 116, 220);
    border: none;
    /* padding: 10px; */
    padding: 10px 0;
    margin-top: 8px;
    /* margin-right: 10px; */
    border-radius: 4px;
    color: aliceblue;
}
.submit:hover{
    cursor: pointer;
    background-color: rgb(101, 174, 222);
}
.reset{
    width: calc(49%);
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 10px 0;
    /* padding: 10px; */
    /* margin-left: 15px; */
    border-radius: 4px;
    color: aliceblue;

}
.reset:hover{
    cursor: pointer;
    background-color: rgb(78, 57, 57);
}